# Environment & secrets
backend/.env
backend/.env.prod
*.pem
*.key
nginx/ssl/

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Node
node_modules/

# Angular
.angular/
dist/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker volumes
mongo_data/
n8n_data/

# n8n local data
.n8n/
